body{
    background-color: rgb(226, 178, 156);
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 59px;
    color: rgb(189, 76, 41);
    letter-spacing: 0.2em;
}

#first-div{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.ask{
    font-family: fantasy;
    font-size: 20px;
    color: rgb(189, 76, 41);
    font-size: 25px ;    
}

.magic{
    background-color: rgb(129, 21, 97);
    border: 1px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

div.answer{
    background-color: rgb(238, 96, 1);
    border: 1px solid #333;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: 25% auto;
}

p#eight{
    font-size: 5em;
    margin: 20% auto;
    color: white;
}

p#answer{
     padding: 15px;
     color: lightblue;
     letter-spacing: 2px;
     font-size: 18px;
     color: white;
     font-family: fantasy;
     text-align: center;
}

#question{
    margin: 20px;
    padding: 10px;
    width: 400px;
    border: 4px solid rgb(158, 75, 126);
    color: rgb(189, 76, 41);
    font-size: 20px;
    font-family: fantasy;
    font-weight: 600;
}